.contact-card {
  text-shadow: 0px 0px 5px #123456;
  background: linear-gradient(-135deg, rgb(34, 76, 152) 10%, transparent),
    repeating-linear-gradient(
      45deg,
      rgba(34, 76, 152, 1) 0%,
      rgba(31, 48, 94, 0.6) 5%,
      transparent 5%,
      transparent 10%
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(34, 76, 152, 0.4) 0%,
      rgba(31, 48, 94, 0.5) 5%,
      transparent 5%,
      transparent 10%
    );
  background-color: rgba(34, 76, 152, 0.25);
}
