/* 모서리 둥글게 */
.form-rounded {
    border-radius: 1rem;
}

.ml-5 {
    margin-left: 5px;
}

.original-link-Helper {
    color: white;
}

.Divider {
    width: 5px;
    height: auto;
    display: inline-block;
}
